<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application>
        <service android:name=".service.MusicService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">

        </service>
    </application>
</manifest>